<div class="row">
  <div class="col-12 col-md-6">
    <p-card title="Återställ lösenord">
      <form [formGroup]="requestResetForm" novalidate (ngSubmit)="requestReset()">
        <p>
          Har du glömt ditt användarnamn eller lösenord kan du använda formuläret nedan för att begära det.
          Har du bara glömt ditt användarnamn behöver du inte klicka på länken i mailet.
        </p>
        <div class="form-group">
          <label>E-mail</label><br />
          <input pInputText type="email" formControlName="email" name="email" required size="34">
          <span *ngIf="requestResetForm.controls.email.touched && requestResetForm.controls.email.errors">E-mailadressen är inte giltig</span>
        </div>

        <div class="form-group">
          <p-button type="submit" label="Återställ" [disabled]="requestResetForm.invalid"></p-button>
        </div>
      </form>
    </p-card>
  </div>
</div>
