<div class="row">
  <div class="col col-lg-4 col-md-6 col-sm-12">
    <p-card title="Öppna spel">
        <app-game-list [gameType]="'open'"></app-game-list>
        <p><a routerLink="/game/add" [appHasPermission]="'Administrator'" pButton label="Lägg till nytt spel" id="#createlink"></a></p>
    </p-card>
  </div>
  <div class="col col-lg-4 col-md-6 col-sm-12">
    <p-card title="Senast avslutade">
        <app-game-list [gameType]="'closed'"></app-game-list>
    </p-card>
  </div>
  <div class="col col-lg-4 col-md-6 col-sm-12">
    <p-card title="Topplista"></p-card>
  </div>
</div>
