<div class="row">
  <div class="col-lg-12" id="header" *ngIf="league" [style.background-image]="sanitizeUrl(league.imageUrl)"></div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 content-column">
    <p-card title="Öppna">
        <ul class="indicators">
          <li><div class="icon played"></div> Tippade</li>
          <li><div class="icon unplayed"></div> Ej tippade</li>
        </ul>
        <br />
        <app-game-list [gameType]="'open'" [itemsShown]="8" [league]="league"></app-game-list>
        <p><a routerLink="game/add" [appHasPermission]="'Administrator'" pButton label="Lägg till nytt spel" id="#createlink"></a></p>
    </p-card>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 content-column">
    <p-card title="Pågående">
        <app-game-list [gameType]="'active'" [reverseOrder]="true" [league]="league"></app-game-list>
    </p-card>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 content-column">
    <p-card title="Avslutade">
      <app-game-list [gameType]="'closed'" [reverseOrder]="true" [league]="league"></app-game-list>
    </p-card>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 content-column">
    <p-card title="Topplista">
      <app-top-list [league]="league"></app-top-list>
    </p-card>
  </div>
</div>
