<div class="row">
  <div class="col-lg-12" id="header"></div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 content-column">
    <p-card title="Öppna spel">
        <app-game-list [gameType]="'open'" [itemsShown]="5"></app-game-list>
        <p><a routerLink="/game/add" [appHasPermission]="'Administrator'" pButton label="Lägg till nytt spel" id="#createlink"></a></p>
    </p-card>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 content-column">
    <p-card title="Senast avslutade">
        <app-game-list [gameType]="'closed'" [reverseOrder]="true"></app-game-list>
    </p-card>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-4 content-column">
    <p-card title="Topplista">
      <app-top-list></app-top-list>
    </p-card>
  </div>
</div>
