<div class="row" *ngIf="games">
  <div class="col-12">
    <a *ngFor="let game of games | orderBy: orderBy : reverseOrder; let i=index" routerLink="/{{league.url}}/game/{{game.id}}">
      
      <div class="test" *ngIf="i<itemsShown">

        <img src="{{game.sportIcon}}" *ngIf="game.gameType != 2" class="icon" />


        <div class="teams" *ngIf="game.gameType == 2">
          <img src="{{game.team1.imageUrl}}" class="team1" />
          <img src="{{game.team2.imageUrl}}" class="team2" />
        </div>


        <div class="d-flex w-100 justify-content-between">
          <div class="game-indicator concluded" *ngIf="game.isConcluded"></div>
          <div class="game-indicator open-not-played" *ngIf="game.isOpenForBets && !game.hasUserPlacedBet"></div>
          <div class="game-indicator open-played" *ngIf="game.isOpenForBets && game.hasUserPlacedBet"></div>
          <div class="game-indicator closed-no-result" *ngIf="!game.isOpenForBets && !game.isConcluded"></div>
          <h5 class="mb-1">{{game.title}}</h5>
          <small class="no-break">{{game.startsOn | date: 'yyyy-MM-dd HH:mm'}}</small>
        </div>
        <p class="mb-3">{{game.description | limitTo: 55}}</p>
      </div>
    </a>
    <p *ngIf="games.length == 0">Inga spel</p>

  </div>
</div>

<p>
  <p-button *ngIf="hasMoreItems" (click)="showMoreItems()" label="Visa fler"></p-button>
</p>
