<h1>Registrera konto</h1>
<div class="row">
  <div class="col col-lg-12">
      <p>Användarnamnet är det som används som login-namn och är vad som identifierar dig på sidan.</p>
      <form [formGroup]="registerForm" novalidate (ngSubmit)="register()">
        <div class="form-group">
          <label>Användarnamn</label><br />
          <input pInputText type="text" formControlName="username" required size="34" (ngModelChange)="resetUsernameTakenStatus()">
          <span *ngIf="registerForm.get('username').touched &&
                       registerForm.get('username').errors != null &&
                       registerForm.get('username').errors.minlength">Användarnamnet är för kort</span>
          <span *ngIf="registerForm.get('username').touched &&
                       registerForm.get('username').errors != null &&
                       registerForm.get('username').errors.maxlength">Användarnamnet är för långt</span>
          <span *ngIf="registerForm.get('username').touched &&
                       registerForm.get('username').errors != null &&
                       registerForm.get('username').errors.pattern">Användarnamnet innehåller otillåtna tecken. Det får innehålla a-z samt _ och -</span>
          <span *ngIf="usernameTaken">Användarnamnet är upptaget</span>
        </div>
        <div class="form-group">
          <label>E-postadress</label><br />
          <input pInputText type="email" formControlName="email" name="email" required size="34">
          <span *ngIf="registerForm.get('email').touched && registerForm.get('email').errors">Inte en giltig e-mailadress</span>
        </div>
        <div class="form-group">
          <label>Telefonnummer anslutet till Swish</label><br />
          <input pInputText type="text" formControlName="phoneNumber" name="phoneNumber" required size="34">
          <span *ngIf="registerForm.get('phoneNumber').touched && registerForm.get('phoneNumber').errors">Inte ett giltigt telefonnummer</span>
        </div>
        <div formGroupName="passwords">
          <div class="form-group">
            <label>Lösenord</label><br />
            <input pInputText type="password" formControlName="password" name="password" required size="34">
            <span *ngIf="registerForm.controls['passwords'].get('password').touched && registerForm.controls['passwords'].get('password').errors">Lösenordet är för kort</span>
          </div>
          <div class="form-group">
            <label>Upprepa lösenord</label><br />
            <input pInputText type="password" formControlName="passwordRepeat" name="repeatPassword" required size="34">
            <span *ngIf="
            registerForm.controls['passwords'].errors &&
            registerForm.controls['passwords'].errors.areEqual &&
            registerForm.controls['passwords'].get('password').touched &&
            registerForm.controls['passwords'].get('passwordRepeat').touched">Lösenorden matchar inte</span>
          </div>
        </div>
        <div class="form-group">
          <br />
          <p-button type="submit" label="Registrera" [disabled]="registerForm.invalid"></p-button>
        </div>
      </form>
  </div>
</div>


