<h1>Återställ lösenord</h1>
<form [formGroup]="resetForm" novalidate (ngSubmit)="reset()">
  <div formGroupName="passwords">
    <div class="form-group">
      <label>Lösenord</label><br />
      <input pInputText type="password" formControlName="password" name="password" required size="34">
      <span *ngIf="resetForm.controls['passwords'].get('password').touched && resetForm.controls['passwords'].get('password').errors">Lösenordet är för kort</span>
    </div>
    <div class="form-group">
      <label>Upprepa lösenord</label><br />
      <input pInputText type="password" formControlName="passwordRepeat" name="repeatPassword" required size="34">
      <span *ngIf="
            resetForm.controls['passwords'].errors &&
            resetForm.controls['passwords'].errors.areEqual &&
            resetForm.controls['passwords'].get('password').touched &&
            resetForm.controls['passwords'].get('passwordRepeat').touched">Lösenorden matchar inte</span>
    </div>
  </div>
  <div class="form-group">
    <p-button type="submit" label="Återställ" [disabled]="resetForm.invalid"></p-button>
  </div>
</form>
