h3 {
    font-family: 'Roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .5em;
}

.gold {
    color: #ffd700;
}

.silver {
    color: #c0c0c0;
}