<div *ngIf="game != null">
  <h1>{{game.title}}</h1>
    <div class="row" *ngIf="game.gameType == 1">
        <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <p-card title="Spelinformation">
                <img src="{{game.sportIcon}}" class="sportIcon" *ngIf="game.gameType != 2" />
                <img src="{{game.team1ImageUri}}" class="sportIcon" *ngIf="game.gameType == 2"/>
                <img src="{{game.team1ImageUri}}" class="sportIcon" *ngIf="game.gameType == 2" />

                <p>{{game.description}}</p>
                <p>Rätt placering ger {{game.pointsResult}} poäng</p>
                <p *ngIf="game.scoreTeam1 != null">
                  <b>Slutgiltig placering</b>: {{game.scoreTeam1 == -2 ? 'DNS' : game.scoreTeam1 == -1 ? 'DNF' : game.scoreTeam1}}
                </p>
                <p *ngIf="game.isOpenForBets == false && game.scoreTeam1 == null">Inget resultat ännu</p>

            
                <div *ngIf="game.isOpenForBets" [appHasPermission]="''">
                    <h3>Tippa placering</h3>
                    Sista tid att tippa: {{game.startsOn | date: 'yyyy-MM-dd HH:mm'}} <br />
                    <span *ngIf="game.hasUserPlacedBet"><b>Du har redan tippat, men du kan fortfarande uppdatera.</b><br /></span> <br/>
                    <p-dropdown [options]="availableOptionsPlacement" [(ngModel)]="selectedResult1"></p-dropdown>
                    <br /> <br />
                    <p-button icon="fa fa-play" styleClass="ui-button-success" label="Tippa" (click)="placeBet()"></p-button>
                </div>

                <p><br /><a routerLink="/game/edit/{{game.id}}" [appHasPermission]="'Administrator'" pButton label="Uppdatera spel"></a></p>
            </p-card>
            <br /> <br />
        </div>

        <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">

            <p-card *ngIf="game.gameType == 1" title="Tippade placeringar">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Namn</h5>
                    <h5 class="mb-1">Tippat</h5>
                </div>
                <div class="w-100" style="border-bottom: 1px solid lightgray"></div>
                <div *ngFor="let bet of bets | orderBy: 'userName'">
                    <div class="d-flex w-100 justify-content-between">
                        <span class="mb-1">{{bet.userName}}</span>
                        <span class="mb-1">{{bet.scoreTeam1}} 
                            <i *ngIf="bet.awardedPoints != null && bet.awardedPoints == game.pointsResult" class="fa fa-trophy gold"></i>
                            <i *ngIf="bet.awardedPoints != null && bet.awardedPoints == game.pointsWinner" class="fa fa-trophy silver"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf="bets && bets.length == 0">
                    Inga tippade placeringar.
                </div>
            </p-card>
        </div>
    </div>
    <div class="row" *ngIf="game.gameType == 0 || game.gameType == 2">
            <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <p-card title="Spelinformation">
                    <img src="{{game.sportIcon}}" class="sportIcon" *ngIf="game.gameType != 2" />
                    <div class="teams" *ngIf="game.gameType == 2">
                      <img src="{{game.team1.imageUrl}}" />
                      <img src="{{game.team2.imageUrl}}" />
                    </div>
                    

                    <p>{{game.description}}</p>
                    <p *ngIf="game.scoreType == 1">Rätt resultat ger {{game.pointsResult}} poäng, medan rätt vinnare ger {{game.pointsWinner}} poäng</p>
                    <p *ngIf="game.scoreType == 0">Poäng ges efter odds</p>

                    <p *ngIf="game.scoreTeam1 != null && game.scoreTeam2 != null"><b>Slutgiltigt resultat: {{game.scoreTeam1}}-{{game.scoreTeam2}}</b></p>
                    <p *ngIf="game.isOpenForBets == false && game.scoreTeam1 == null && game.scoreTeam2 == null">Inget resultat ännu</p>
                

                    <div *ngIf="isBettingOpen" [appHasPermission]="''">
                      <h3>Tippa resultat</h3>
                      Sista tid att tippa: {{game.startsOn | date: 'yyyy-MM-dd HH:mm' }} <br />
                      <span *ngIf="game.hasUserPlacedBet"><b>Du har redan tippat, men du kan fortfarande uppdatera.</b><br /></span> <br />
                      <p-dropdown [options]="availableOptionsResult" [(ngModel)]="selectedResult1" (onChange)="onBetChanged($event)"></p-dropdown> -
                      <p-dropdown [options]="availableOptionsResult" [(ngModel)]="selectedResult2" (onChange)="onBetChanged($event)"></p-dropdown>
                      <p *ngIf="game.scoreType == 0">Odds resultat: {{betOdds?.oddsResult}}, vinnare: {{betOdds?.oddsWinner}}</p>
                      <br /> 
                      <p-button icon="fa fa-play" styleClass="ui-button-success" label="Tippa" (click)="placeBet()"></p-button>
                    </div>

                    <p><br /><a routerLink="/{{league?.url}}/game/edit/{{game.id}}" [appHasPermission]="'Administrator'" pButton label="Uppdatera spel"></a></p>

                </p-card>
                <br /> <br />
            </div>
    
            <div class="col col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <p-card title="Tippade resultat">
                    <div *ngIf="bets && bets.length > 0">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Namn</h5>
                            <h5 class="mb-1">Tippat</h5>
                        </div>
                        <div class="w-100" style="border-bottom: 1px solid lightgray"></div>
                        <div *ngFor="let bet of bets | orderBy: 'userName'">
                            <div class="d-flex w-100 justify-content-between">
                                <span class="mb-1">{{bet.userName}}</span>
                                <span class="mb-1">{{bet.scoreTeam1}}-{{bet.scoreTeam2}}
                                    <i *ngIf="bet.awardedPoints != null && bet.awardedPoints == game.pointsResult" class="fa fa-trophy gold"></i>
                                    <i *ngIf="bet.awardedPoints != null && bet.awardedPoints == game.pointsWinner" class="fa fa-trophy silver"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="bets && bets.length == 0">
                        Inga tippade resultat.
                    </div>
                </p-card>
            </div>
        </div>

</div>

