<h1>Ändra spel</h1>
<div class="row">
  <div class="col col-lg-6">
    <p-card>
      <form #gameForm="ngForm" (ngSubmit)="updateGame()">
        Titel <br />
        <input type="text" pInputText [(ngModel)]="game.title" name="title" size="45" required/>
        <br /> <br />

        Sport <br />
        <p-dropdown [options]="sports" [(ngModel)]="game.sportId" name="sportId" autoDisplayFirst="false" [style]="{'width':'433px'}" placeholder="V&auml;lj ett alternativ" required></p-dropdown>
        <br /> <br />

        Typ <br />
        <p-dropdown [options]="gameTypes" [(ngModel)]="game.gameType" name="gameType" autoDisplayFirst="false" [style]="{'width':'433px'}" placeholder="V&auml;lj ett alternativ" required></p-dropdown>
        <br /><br />
        
        Starttid <br />
        <p-calendar [(ngModel)]="game.startsOn" [showTime]="true" name="startsOn" [inline]="true" required></p-calendar>
        <br /><br />

        Poäng rätt resultat <br />
        <p-dropdown [options]="points" [(ngModel)]="game.pointsResult" name="pointsResult" [style]="{'width':'433px'}" placeholder="V&auml;lj ett alternativ" required></p-dropdown>

        <div *ngIf="game.gameType == 0">
          Poäng rätt vinnare <br />
          <p-dropdown [options]="points" [(ngModel)]="game.winnerResult" name="winnerResult" [style]="{'width':'433px'}" placeholder="V&auml;lj ett alternativ"></p-dropdown>
        </div>
        
        Beskrivning <br/>
        <textarea pInputTextarea [rows]="7" [cols]="42" [(ngModel)]="game.description" name="description" required></textarea>
        <br /><br />

        Resultat
        <div *ngIf="game.gameType == 0">
          <p-dropdown [options]="points" [(ngModel)]="game.scoreTeam1" name="scoreTeam1" placeholder="V&auml;lj ett alternativ"></p-dropdown>
          -
          <p-dropdown [options]="points" [(ngModel)]="game.scoreTeam2" name="scoreTeam2" placeholder="V&auml;lj ett alternativ"></p-dropdown>
        </div>
        <div *ngIf="game.gameType == 1">
            <p-dropdown [options]="points" [(ngModel)]="game.scoreTeam1" name="scoreTeam1" placeholder="V&auml;lj ett alternativ"></p-dropdown>
        </div>

        <p-button icon="fa fa-save" type="submit" label="Spara" [disabled]="!gameForm.form.valid"></p-button>
      </form>
    </p-card>
  </div>
</div>